h1{
    text-align: center;
    background-color: brown;
    background-color: #123bf5;
}
input, button{
    display: block;
    margin: 10px auto;
    padding: .5em;

}
body{
    margin: 0;
    padding: 0;
    background-image: url(a.jpg);
}

