*{
    margin: 0;
    padding: 0;
}

 body {
    font-family: Arial;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    background: url(93480.jpg);
}

.fix{
    overflow: hidden;
}
.main{
    width: 960px;
    margin: 0 auto;
    display: block;
    background: #fff;
}
.hearder{}
.slider{
    height: 209px;
    width: 960px;
    background-image: url(360_F_207766668_qQN0YbSwIcSUuhDdJWBhNmHLq0G0sdLY.webp);
}

.slider-text{}
.slider-text h1{color: blue;margin-left: 222px;margin-top: 4px;} 

.slider-text h2{color: #fff;margin-top: 74px;
    margin-left: 180px;}
.slider-text p{
    color: #fff;
    margin-left: 230px;  
}
.maincontent{margin-top: 25px;}
.sidebar{ width: 250px; margin-right: 30px; background-color: #ededed; float: left;  padding: 25px;}
.content{ width: 600px; padding-right: 30px;}
.content h2{margin-bottom: 15px; font-weight: normal;}
.content p{margin: bottom 5px;  margin-top: -3px;}

.footer{padding: 5px; background: #BBBB;}

.sidebar ul{margin: 0; padding: 0; list-style: none;}

.sidebar ul li{ padding: 5px; border-bottom:1px solid #ddd;}

.sidebar ul li a{ text-decoration: none; color: #666;}

.sidebar ul li a:hover { color: #000;}
 